importFrom("graphics", "abline", "points", "plot", "title")
importFrom("stats", "cov.wt" , "dist", "mahalanobis", "median", "pnorm",
    "qchisq", "qf", "qnorm", "quantile", "rbinom", "weighted.mean")
importFrom("utils", "memory.size")

export(plotIT)
export(BEM)
export(EA.dist)
export(EAdet)
export(EAimp)
export(EM.normal)
export(ER)
export(ER.normal)
export(GIMCD)
export(MDmiss)
export(POEM)
export(PlotMD)
export(TRC)
export(Winsimp)
export(ind.dij)
export(ind.dijs)
export(nz.min)
export(psi.lismi)
export(sweep.operator)
export(weighted.quantile)
export(weighted.var)
export(weightsum)
